<head prefix="http://ogp.me/ns/website#">
  <!-- Site Basics-->
  <title>{{ page.title }}</title>
  <link rel="icon" type="image/ico" href="{{ site.baseurl }}/favicon.ico">
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />

  <!-- SEO -->
  <meta name="description" content="{{ page.description }}" />

  <!-- Open Graph Protocal -->
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <meta property="og:description" content="{{ page.description }}" />

  <!-- Loading Styles, Fonts, Etc. -->
  <link rel="stylesheet" href="{{ site.baseurl }}/stylesheet.css" type="text/css" />

  <!-- Loading Libraries -->
  <script src="{{ site.baseurl }}/scripts/jquery-3.2.1.min.js" type="text/javascript"></script>
  <script src="{{ site.baseurl }}/scripts/d3.min.js" type="text/javascript"></script>
</head>
