.table {
  // position: absolute;
  // bottom: 0;
  width: 100vw;
  height: 30px;
  background-image: url("https://attharmirza.github.io/MixtapeWebsite/graphics/wood.svg");
  background-size: cover;
  background-position: top;
  border-top: 5px rgb(0, 0, 0) solid
}
