.tapePlayer {
  width: 70%;
  max-width: 600px;
  margin: auto;
}

.tapeRack {
  // position: absolute;
  width: 80vw;
  max-width: 600px;
  // left: 50%;
  // transform: translateX(-50%);
  // padding-bottom: 20px;
  margin: 0 auto;
}

.tape {
  position: relative;
  border-radius: 4px;
  box-shadow: 0 0 0 3px rgb(0, 0, 0) inset;
  overflow: hidden;
  margin: 0;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  background-size: cover;
  background-position: center;

  &:hover {
    // background-color: rgb(249, 62, 62);
    cursor: pointer;
  }
}

#Wheel1, #Wheel2 {
  transform-origin:center;
}

.rotation {
  animation-name: rotation;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotation {
  from {transform: rotateZ(0deg);}
  to {transform: rotateZ(360deg);}
}
