.tapePlayer {
  width: 60%;
  margin: auto;
}

.tapeRack {
  position:absolute;
  width: 80vw;
  left: 50%;
  transform: translateX(-50%);
  // border-bottom: 5px rgb(0, 0, 0) solid;
  padding-bottom: 20px;
  // margin-bottom: 10px;
}

.tape {
  position: relative;
  border-radius: 4px;
  box-shadow: 0 0 0 3px rgb(0, 0, 0) inset;
  overflow: hidden;
  margin: 0;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);

  &:hover {
    // background-color: rgb(249, 62, 62);
    cursor: pointer;
  }
}
