<html>

{% include info.html %}

<body>
  <div class="tapeRack">
    {% assign sortedSongs = site.songs | sort:"position" %}
    {% for song in sortedSongs %}
    <div class="tape">
      <img src="{{ song.image }}" />
      <audio id="{{ song.id }}">
        <source src="{{ song.file }}" type="audio/mpeg">
      </audio>
    </div>
    <script>
      $(document).ready(function() {
        // $('#{{ song.id }}')
      });
    </script>
    {% endfor %}
  </div>
  <div class="tapePlayer"></div>
</body>

</html>
